@model IEnumerable<XsisPos.Dto.ProductDto>

<table class="table table-striped">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Initial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Initial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) *@
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning btn-edit" data-id="@item.Id">
                            Edit
                        </button>
                        <button type="button" class="btn btn-success btn-details" data-id="@item.Id">
                            Details
                        </button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.Id">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: "@Url.Action("Edit")",
            type: "get",
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                if (result) {
                    $(".modal-title").html("Edit");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            }
        })
    })
</script>