@model XsisPos.Dto.ChangeCategoryDto

<h3>Are you sure you want to delete this?</h3>
<div>
    @{
        if (!String.IsNullOrEmpty(ViewBag.Deleted))
        {
            <div class="text-success">@ViewBag.Deleted</div>
        }
        if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="text-danger">@ViewBag.Error</div>
        }
    }
    <dl class="row">
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Initial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Initial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    @{
        if (String.IsNullOrEmpty(ViewBag.Deleted))
        {
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        }
        else
        {
            <form asp-action="Delete">
                <a asp-action="Index">Back to List</a>
            </form>
        }
    }
</div>
